@import "../../styles/main.scss";

.logo {
  position: absolute;
  margin: 58px 0 0 120px;
  display: flex;
  gap: 14px;

  z-index: 10;
  font-family: 'Century Gothic', sans-serif;
  font-weight: 400;

  &__link {
    height: 64px;
    width: 64px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../images/logo.png");

    &:hover {
      transform: scale(1.1);
    }
  }

  &__wrapper {
    &--title {
      color: $color-blue;
      font-size: 32px;
      font-weight: 400;
      line-height: 39px;
      letter-spacing: 0em;
      text-align: left;
      text-decoration: none;
    }

    &--text {
      color: $color-blue-2;
      font-size: 18px;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      text-decoration: none;
    }
  }
}