@import "../../../../styles/main.scss";

.riviews {
  margin-top: 110px;

  &__title {
    margin-top: 24px;
    color: $color-blue;
    font-size: 32px;
    font-weight: 700;
    line-height: 42.67px;
    text-align: center;
  }

  &__list {
    margin-top: 60px;

    display: flex;
    justify-content: center;
    gap: 4px;
  }
}